.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-main-box {
    background: linear-gradient(to right, #f9f9f3 50%, #69f0ae 50%);;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    position: relative;
}

.App-section {
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Movie-cover {
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
